{% load param_change %}

{% for comment in comments %}
<div class="s_video_sub_inner">

    <div class="comment_video_sub_inner_left">
        <a href="{% url 'tube:usersingle' comment.user.id %}">
            {% if comment.user.usericon %}
                <div><img class="video_usericon" src="/media/{{ comment.user.usericon }}" alt="icon"></div>
            {% else %}
                <div><img class="video_usericon" src="/media/tube/usericon/non_usericon.png" alt="{{ icon }}"></div>
            {% endif %}
        </a>
    </div>

    <div class="comment_video_sub_inner_right">
        <a href="{% url 'tube:usersingle' comment.user.id %}"><div> {{ comment.user.handle_name }} </div></a>

        <div>{{ comment.content|linebreaksbr|urlize }}</div>

        <div class="video_comment_dt">{{ comment.dt|date:"Y-m-d h時" }} &nbsp;<i class="far fa-comment"></i>{{ comment.num_reply }}&nbsp;</div>

        <!--TIPS:コメントはループするのでidが重複してしまう。id属性の指定は禁止 ←ただし、UUIDを噛ませることで重複を防ぐことができる。-->
        <input id="reply_button_{{ comment.id }}" class="reply_chk" type="checkbox"><label class="reply_label" for="reply_button_{{ comment.id }}">返信</label>


        <div class="reply_area">
            <form id="reply_form_{{ comment.id }}" action="{% url 'tube:video_comment_reply' comment.id  %}" method="POST">
                {% csrf_token %}
                <textarea class="textarea_form" name="content" placeholder="返信" raws="1"></textarea>
                <button class="reply_submit btn btn-videocomment" value="{{ comment.id }}" type="button"><i class="far fa-paper-plane"></i></button>
            </form><br class="my-2">
            <div id="reply_content_{{ comment.id }}"><!--TODO:ここにリプライがJSによりレンダリングされる--></div>
        </div>

    </div>

    <div class="edit_select_area">
        {% if request.user.id == comment.user.id %}
            <input id="comment_edit_{{ comment.id }}" class="comment_edit_button" type="checkbox">
                <label class="comment_edit_label" for="comment_edit_{{ comment.id }}"><i class="fas fa-pencil-alt edit_select_area_icon"></i></label>

            <input id="comment_delete_{{ comment.id }}" class="comment_delete_button" type="checkbox">
                <label class="comment_delete_label" for="comment_delete_{{ comment.id }}"><i class="fas fa-eraser edit_select_area_icon"></i></label>

        {% elif request.user.id == comment.target.user.id %}
            <div class="comment_delete_{{ comment.id }}"><i class="fas fa-eraser edit_select_area_icon"></i></div>
            <div class="comment_notice_{{ comment.id }}"><i class="far fa-bell edit_select_area_icon"></i></div>
        {% else %}
            <div class="comment_notice_{{ comment.id }}"><i class="far fa-bell edit_select_area_icon"></i></div>
        {% endif %}
    </div>

</div>
{% endfor %}

{% if comments %}
<form id="comment_pagination_area" class="pagination_area" action="{% url 'tube:single_mod' video.id %}" method="GET">
    {% generate_pagelink_ajax request "page" "1" comments.paginator.num_pages comments.number %}
</form>

{% endif %}

